.tela{
    width: 375px;
    margin: 0 auto;
    background-color: #FB6B6B;
    border: 1px solid #DBDBDB;
}

.header{
    margin: 40px 60px;
    font-family: 'Righteous', cursive;
    width: 255px;
    display: flex;
    justify-content: space-between;
}

.header img{
    width: 52px;
    height: 60px;
}

.header h1{
    font-weight: 400;
    font-size: 36px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
}

.questions{
    height: 100vh;
    overflow-y: hidden;
    font-family: 'Recursive', sans-serif;
}

.numeroPergunta{
    margin: 10px auto;
    width: 270px;
    height: 23px;
    padding: 21px 15px;
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    display: flex;
    justify-content: space-between;
    color:#333333;
}

.pergErrado{
    text-decoration-line: line-through;
    color: #FF3030;
}

.pergMedio{
    text-decoration-line: line-through;
    color: #FF922E;
}

.pergCerto{
    text-decoration-line: line-through;
    color: #2FBE34;
}

.carta{
    margin: 10px auto;
    width: 270px;
    min-height: 105px;
    background: #FFFFD5;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color:#333333;
    padding: 18px 15px 10px;
}

.front-face {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 105px;
}

.front-face img {
    width: 30px;
    height: 20px;
    margin-left: 239px;
}

.back-face {
    display: flex;
    flex-direction: column;
    min-height: 105px;
    justify-content: space-between;
}

.back-face div{
    display: flex;
    justify-content: space-between;
}

.back-face button{
    width: 85px;
    height: 37px;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}

.errado{
    background-color: #FF3030;
}

.medio{
    background-color: #FF922E;
}

.certo{
    background-color: #2FBE34;
}

.footer{
    width: 375px;
    height: 70px;
    background-color: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    font-family: 'Recursive', sans-serif;
    position: fixed;
    bottom: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 70px;
    text-align: center;
}

.ocultar{
    display:none !important;
}